<p style="color: green"><%= notice %></p>

<%= render @comentario %>

<div>
  <%= link_to "Editar Comentário", edit_comentario_path(@comentario) %> |
  <%= link_to "Listar Comentários", comentarios_path %>

  <br>
  <br>
  <%= button_to "Apagar Comentário", @comentario, method: :delete %>
</div>
